@import-normalize;

body {
	font-family: 'Helvetica', 'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 20px auto;
	padding-bottom: 50px;
	font-weight: 200;
	font-size: 18px;
}

a {
	text-decoration: none !important;
	color: initial;
}

h1 {
	margin: 3rem 0 0.4rem;
}
